@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');




*{
      font-family: "Poppins", sans-serif;
}



.Textazul{
    color: #1331a1;

}

.Textrosa{
    color: #f31366;
  
}

.Textlaranja{
    color: #f44528;
 
}

.Textamarelo{
    color: #f8b62f;
 
}
.Textverde{
    color: #a2ca02;
  
}


.azul{

    background-color: #1331a1;
}

.rosa{
  
    background-color: #f31366;
}

.laranja{

    background-color: #f44528;
}

.amarelo{

    background-color: #f8b62f;
}
.verde{

    background-color: #a2ca02;
}



.BtnHover:hover{

    background-color: white;
     border: 1px solid rgb(184, 184, 184);
     cursor: pointer;
     color: gray;
     transition: all 0.2s ease-in-out;
}